#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

## @section Global Parameters
## @param clusterDomainSuffix [t#Cluser domain suffix] The domain suffix of of the current k8s cluser
clusterDomainSuffix: cluster.local

## @section Deployment Parameters
## @param serviceAccountName ServiceAccount name
serviceAccountName: openstack-dep

## @section Image Parameters
## @param imageRegistry [t#Image Registry] The registry address of openstack kolla image
imageRegistry: "registry.aliyuncs.com"
## @param imageNamespace [t#Image Namespace] The registry namespace of openstack kolla image
imageNamespace: "kolla-helm"
## @param openstackTag [t#Openstack version] The openstack version
openstackTag: "yoga"
## @param pullPolicy [t#Pull Policy] The image pull policy
pullPolicy: "IfNotPresent"

## @section Ingress parameters
## nginx-ingress-controller chart configuration
## ref: https://github.com/bitnami/charts/blob/master/bitnami/nginx-ingress-controller/values.yaml
## @param nginx-ingress-controller.enabled [t#Nginx Ingress Controller] Whether or not deploy nginx-ingress-controller
## @param nginx-ingress-controller.replicaCount [t#Replica Number] Number of nginx-ingress-controller replicas
nginx-ingress-controller:
  enabled: true
  replicaCount: 1
  ## @skip nginx-ingress-controller.ingressClassResource
  ingressClassResource:
    name: openstack-nginx
  ## @skip nginx-ingress-controller.service.type
  service:
    type: ClusterIP
  ## @skip nginx-ingress-controller.defaultBackend
  defaultBackend:
    enabled: false
## @param externalService.enabled [t#Ingress Service] Whether or not create service for nginx ingress backend
## @param externalService.name [t#Ingress Service Name] The nginx ingress controller k8s service name
## @param externalService.type [t#Ingress Service Type] The nginx ingress controller k8s service type, Support: (NodePort, LoadBalancer)
## @param externalService.port [t#Ingress Service Port] The nginx ingress controller k8s service port
## @param externalService.loadBalancerIP [t#Ingress Service IP] Kubernetes LoadBalancerIP to request for Controller
externalService:
  enabled: true
  name: openstack
  type: NodePort
  port: 80
  loadBalancerIP: ""
## @param externalFQDN [t#External FQDN] The domain name or ip address that the user access the openstack cluster from the k8s cluster external
externalFQDN: ""
## @param externalUriProtocol [t#External URI Protocol] The protocol that the the user access the openstack cluster from the k8s cluster external. Support values: (http, https)
externalUriProtocol: "http"

## @section Database Parameters
## MariaDB chart configuration
## ref: https://github.com/bitnami/charts/blob/master/bitnami/mariadb/values.yaml
mariadb:
  ## @param mariadb.enabled [t#Mariadb] Whether or not deploy mariadb database
  enabled: true
  ## @param mariadb.architecture [t#Architecture] MariaDB architecture (`standalone` or `replication`)
  architecture: standalone
  ## @param mariadb.auth.existingSecret [t#Password Secert] Use the secret generated by kolla-helm/charts/password release to provide the password for mariadb instance
  auth:
    existingSecret: openstack-password
  ## MariaDB Primary configuration
  primary:
    ## MariaDB Primary Persistence parameters
    ## ref: https://kubernetes.io/docs/user-guide/persistent-volumes/
    ## @param mariadb.primary.persistence.storageClass [t#Primary Storage Class] Persistent Volume storage class
    ## @param mariadb.primary.persistence.size [t#Primary Storage Size] Persistent Volume size
    ## @skip mariadb.primary.persistence.enabled
    ## @skip mariadb.primary.persistence.accessModes
    persistence:
      storageClass: ""
      size: 8Gi
      enabled: true
      accessModes:
        - ReadWriteOnce
  ## MariaDB Secondary configuration
  secondary:
    ## @param mariadb.secondary.replicaCount [t#Replica Number] Number of MariaDB secondary replicas
    replicaCount: 1
    ## @param mariadb.secondary.persistence.storageClass [t#Replica Storage Class] MariaDB secondary persistent volume storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    ## @param mariadb.secondary.persistence.size [t#Replica Storage Size] MariaDB secondary persistent volume size
    ## @skip mariadb.secondary.persistence.enabled
    ## @skip mariadb.secondary.persistence.accessModes
    persistence:
      storageClass: ""
      size: 8Gi
      enabled: true
      accessModes:
        - ReadWriteOnce

## @section RabbitMQ parameters
## RabbitMQ chart configuration
## https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/values.yaml
rabbitmq:
  ## @param rabbitmq.enabled [t#Rabbitmq] Whether or not deploy rabbitmq
  enabled: true
  ## @param rabbitmq.auth.username [t#Username] RabbitMQ username
  ## @param rabbitmq.auth.existingPasswordSecret [t#Password Secret] Use the secret generated by kolla-helm/charts/password release to provide the password for rabbitmq instance
  auth:
    username: openstack
    existingPasswordSecret: openstack-password
  ## @param rabbitmq.persistence.storageClass [t#Storage Class] Persistent Volume storage class
  ## @param rabbitmq.persistence.size [t#Storage Size] Persistent Volume size
  ## @skip rabbitmq.persistence.enabled
  ## @skip rabbitmq.persistence.accessModes
  persistence:
    enabled: true
    storageClass: ""
    size: 8Gi
    accessModes:
      - ReadWriteOnce

## @section Memcached parameters
## Memcached chart configuration
## ref: https://github.com/bitnami/charts/blob/master/bitnami/memcached/values.yaml
memcached:
  ## @param memcached.enabled [t#Memcached] Whether or not deploy memcached
  enabled: true
  ## Service parameters
  service:
    ## @param memcached.service.port Memcached service port
    port: 11211

## Ceph configuration
ceph:
  ## @param ceph.enabled [t#Enable Ceph] Whether or not enable ceph backend
  enabled: true
  ## @param ceph.cephClusterNamespace [t#Rook Ceph Cluster Namespace] The k8s namespace of rook cephcluster
  cephClusterNamespace: rook-ceph
  ## @param ceph.cephClusterName [t#Rook Ceph Cluster Name] The rook cephcluster name
  cephClusterName: rook-ceph
